h1 {
  display: flex;
  justify-content: center;
  color: black
}

   form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-left: -100px;
    margin-right: -100px;
    width: fit-content;
}

label {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.modal-bars {
  padding-right: 50px;
  padding-left: 50px;
  box-shadow: 3px 3px 3px grey;
  display: flex;
  justify-content: center;
}

  #wrong-password {
    color: #ff4500;
    margin: 10px 0;
    text-align: center;
  }

  .modal-buttons {
    padding-right: 50px;
    padding-left: 50px;
    color: grey;
    background-color: white;
    box-shadow: 3px 3px 3px grey;
    cursor: pointer;
}
